/* Empty. Add your own CSS if you like */

.item_content {
	width: 80%
}

.platform-android .bar .title {
	font-size: 20px;
	line-height: 52px;
	margin: 0px 23px;
}

.bar {
	height: 52px;
}

.tabs-striped.tabs-positive .tabs {
	background-color: #11C1F3;
}

.tabs-top > .tabs,
.tabs.tabs-top {
	top: 48px;
}

.tabs-striped.tabs-positive .tab-item {
	color: rgba(255, 253, 253, 0.67);
}

.tabs-top.tabs-striped .tab-item.tab-item-active,
.tabs-top.tabs-striped .tab-item.active,
.tabs-top.tabs-striped .tab-item.activated {
	border-width: 0px 0px 3px 0px !important;
}

.tabs-striped.tabs-positive .tab-item.tab-item-active,
.tabs-striped.tabs-positive .tab-item.active,
.tabs-striped.tabs-positive .tab-item.activated {
	border-color: #FFF000;
}

ion-list ion-spinner > svg {
	display: block;
	margin: 2.6em auto;
}

ion-list .mes {
	display: block;
	width: 95%;
	background-color: whitesmoke;
	border-color: whitesmoke;
	box-shadow: 0 2px 6px 0px #C1BFBF;
	margin: auto;
	margin-top: 1.6em;
	padding-left: 1.6em;
}

.spinner svg {
	width: 28px;
	height: 28px;
	stroke: rgb(228, 26, 26);
}

.detail-cnt {
	background-color: rgb(241, 241, 240) !important;
	z-index: 100 !important;
}

.detail-cnt .back-btn {
	font-size: 2.5em;
	line-height: 1.2em;
	padding: 0.5em;
}

.detail-cnt .actived {
	background-color: #95B5B5;
	box-shadow: 4px 5px 4px #8BABAB inset;
	border-radius: 4px;
}

.detail-cnt > ion-header-bar.bar {
	background-color: #AED0D0;
	height: auto;
	box-shadow: 0 1px 3px rgba(167, 164, 164, 0.86);
	border-color: #AED0D0;
}

.detail-cnt> ion-header-bar > h1 {
	font-size: 1.5em;
	margin: 0.3em 0.8em;
	color: rgba(44, 51, 51, 0.9);
	font-weight: 500;
}

.detail-cnt> ion-header-bar,
.detail-cnt > ion-content {
	position: static !important;
	-webkit-animation-name: fadein;
	animation-name: fadein;
	-webkit-animation-duration: 0.6s;
	animation-duration: 0.6s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	transition-timing-function: cubic-bezier(1, .05, .67, .95);
	opacity: 0;
}

.detail-cnt> ion-content > .detail-num {
	-webkit-animation-name: fade;
	animation-name: fade;
	-webkit-animation-duration: 0.8s;
	animation-duration: 0.8s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	transition-timing-function: cubic-bezier(1, .05, .67, .95);
	opacity: 0;
}

.detail-cnt> ion-content > .button {
	margin-left: 0.7em;
	-webkit-animation-name: slidein;
	animation-name: slidein;
	-webkit-animation-duration: 0.6s;
	animation-duration: 0.6s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	transition-timing-function: cubic-bezier(0.73, 0.01, 0.58, 1);
	opacity: 0;
}

@-webkit-keyframes slidein {
	from {
		transform: translate(0, 6.5em);
		opacity: 1; //opacity:0;
	}
	60% {
		opacity: 1;
	}
	to {
		transform: translate(0, 0);
		opacity: 1;
	}
}

@keyframes slidein {
	from {
		transform: translate(0, 6.5em);
		opacity: 1; //opacity:0;
	}
	60% {
		opacity: 1;
	}
	to {
		transform: translate(0, 0);
		opacity: 1;
	}
}

@-webkit-keyframes fade {
	from {
		opacity: 0;
	}
	to {
		transform: translate(0, 0);
		opacity: 1;
	}
}

@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		transform: translate(0, 0);
		opacity: 1;
	}
}

@-webkit-keyframes fadein {
	from {
		transform: scale(1.3);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes fadein {
	from {
		transform: scale(1.3);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}

.card_list {
	float: left;
	width: 95%;
	border-radius: 2px;
	list-style: none;
	margin-top: 1.2em;
	margin-bottom: 2em;
	margin-left: 2.5%;
}

.card_list li {
	background-color: rgb(252, 252, 252);
	padding: 0.8em 1.6em;
	box-shadow: 0 2px 3px 0px rgba(167, 167, 167, 0.81);
	;
	font-family: '微軟正黑體';
	-webkit-animation-name: slidein;
	animation-name: slidein;
	-webkit-animation-duration: 0.6s;
	animation-duration: 0.6s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	transition-timing-function: cubic-bezier(1, .24, .61, .78);
	opacity: 0;
	border-bottom: 0.1em solid #F1EEEE;
	overflow: auto;
}

.card_list li > div {
	float: left;
	width: 25%;
	font-size: 0.8em;
	transform: translateY(5px);
}

.card_list li > p {
	float: left;
	width: 73%;
	font-size: 1.2em;
	margin: 0;
}

.card_list .title {
	background-color: #0087FF;
	color: white;
	padding: 1.3em 1.8em 0.6em;
	font-size: 1.1em;
	animation: none;
	opacity: 1;
	border-bottom: none;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

.card_list li:last-child {
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

.baseline_title {
	font-family: '微軟正黑體';
	color: #757474;
	padding: 0.3em 1.1em;
	width: 35%;
	box-shadow: 0 0.03em 0 #8C8686;
	margin-top: 2.5em;
	clear: left;
}