<ion-view class="detail-cnt">
	<ion-header-bar class="detail-header">
		<a ng-click="goBack()" style="transition: 0.3s all;"><i class="ion-arrow-left-c back-btn"></i></a>
		<h1>{{item.title}}</h1>
	</ion-header-bar>
	<ion-content scroll="false">
		<div style="margin-top: 1.3em;margin-left: 1.6em;" class="detail-num">
			<span style="font-size: 3.8em;color: #FF0000;">{{item.nowN}}</span><i style="margin: 2px;">/</i><span>{{item.limitN}}</span>
			<div style="color: #9C9C9C;margin-left: 0.2em;">報名人數</div>
		</div>
		<ul class="card_list">

			<li style="-webkit-animation-delay:0.1s;animation-delay:0.0s;">
				<div>活動日期</div>
				<p>{{item.date}}</p>
			</li>
			<li style="-webkit-animation-delay:0.2s;animation-delay:0.2s;">
				<div>截止日期</div>
				<p>{{item.deadline}}</p>
			</li>
			<li style="-webkit-animation-delay:0.4s;animation-delay:0.4s;">
				<div>主辦單位</div>
				<p>{{item.unit}}</p>
			</li>
			<li style="-webkit-animation-delay:0.6s;animation-delay:0.6s;">
				<div>地點</div>
				<p>{{item.loc}}</p>
			</li>

		</ul>
		<a class="button button-outline icon-right ion-chevron-right button-balanced" style="-webkit-animation-delay:0.8s;animation-delay:0.8s" ng-click="open()">報名頁面</a>
	</ion-content>
</ion-view>